extends layout

block content

    div(class='text-center center-div mt-5' id='login')
        div(class='container w-25 border py-5 mt-5')

            h3 Welcome to the Dashboard
            h5 #{locals.user ? user:'User'}
            a(href='/logout') Log out
            a(href='/delete') Delete
            a(href='/pickup') Pick up order
            a(href='/ratingSystem') Rating system
            a(href='/upload') Upload image
            a(href='/update') Update