extends layout

block content
    title='SCA - Dashboard'
    div(class='text-center center-div' id='login')
        div(class='container w-25 border pt-3')
            img(src='/images/logo_trans.png' class='w-50')
            h3 Welcome to the Dashboard
            h5 #{locals.user ? user.username:'User'}
            h6 #{'Average rating ' + average.toFixed(2)}
            if(locals.driver)
                h5 Driver
            a(href='/logout') Log out
            a(href='/delete') Delete
            if(!locals.driver)
                a(href='/pickup') Pick up order
            if(!locals.driver)
                a(href='/pictures') Rate a picture
                a(href='/pickup/userOrder') Selected pickups
            if(locals.driver)
                a(href='/pickup/list') Pick up List
                a(href='/pickup/myOrder') Selected pickups
            //a(href='/update') Update
            img(src='')