extends layout

block content

    div(class='text-center center-div' id='login')
        div(class='container w-25 border py-4')
            img(src='/images/1234.png' class='w-50')
            h3 Welcome to the Dashboard
            h5 #{locals.user ? user.username:'User'}
            //h6 #{average}
            if(locals.driver)
                h5 Driver
            a(href='/logout') Log out
            a(href='/delete') Delete
            if(!locals.driver)
                a(href='/pickup') Pick up order
            a(href='/ratingSystem') Rating system
            if(!locals.driver)
                a(href='/pictures') Rate a picture
            a(href='/update') Update
            if(locals.driver)
                a(href='/pickuplist') Pick up List
            img(src='')