extends layout

block content
    title='SCA - Dashboard'
    div(class='text-center center-div' id='dashboard')
        div(class='container w-25 border py-3')
            img(src='/images/logo_trans.png' class='w-50')
            h3 Welcome #{locals.user ? user.username:'User'} to the Selective collection app
            h6 #{'Your average rating is ' + average.toFixed(2)}
            if(!locals.driver)
                a(href='/pickup') Pick up order
            if(!locals.driver)
                a(href='/pictures') Rate a public picture
                a(href='/pickup/userOrder') Your pick up orders
            if(locals.driver)
                a(href='/pickup/list') Pick up List
                a(href='/pickup/myOrder') Your personal pick up lists
