extends layout

block content
    title='SCA - Dashboard'
    div(class='text-center center-div' id='login')
        div(class='container w-25 border pt-3')
            img(src='/images/logo_trans.png' class='w-50')
            h3 Welcome #{locals.user ? user.username:'User'} to the Selective collection app
            h6 #{'Your average rating is ' + average.toFixed(2)}
            p This is an app made by Anna, Carla, Christoffer and Daniel from Aalborg university copenhagen.
            p The app shows how you could implement a selective collection app for the city of brasilia
            h5 Use the menu to the left to navigate.
