extends layout

block content

h1 Pickups
// TABLE CONSTRUCTION
table#table
    // HEADING FORMATION
    tr
        th Pickup Id
        th Date
        th Address
        th Region
    script.
        $(document).ready(function () {
            // FETCHING DATA FROM JSON FILE
            $.getJSON("pickups.json",
                function (data) {
                    var pickups = '';
                    // ITERATING THROUGH OBJECTS
                    $.each(data, function (key, value) {
                        //CONSTRUCTION OF ROWS HAVING
                        // DATA FROM JSON OBJECT
                        pickuplist += '<tr>';
                        pickuplist += '<td>' +
                            value.pickups + '</td>';
                        pickuplist += '<td>' +
                            value.date + '</td>';
                        pickuplist += '<td>' +
                            value.address + '</td>';
                        pickuplist += '<td>' +
                            value.region + '</td>';
                        pickuplist += '</tr>';
                    });
                    //INSERTING ROWS INTO TABLE
                    $('#table').append(pickups); {

                    });





