extends layout

block content
    title='SCA - Order pick up'
    div(class='text-center center-div' id='pickup')
        div(class='container w-25 border py-3')
            h2='Pick up order'
            form(action='/pickup/pickupOrder' method='POST' enctype='multipart/form-data')
                div(class = 'form-group')
                    small(class = 'form-text text-left text-black') Select image of the trash:
                    input(type='file', name='uploadImage' accept='image/*' required)
                div(class = 'form-group')
                    small(class = 'form-text text-left text-black') Select date for pick up:
                    input(type='date', class='form-control', placeholder= 'DD/MM/YYYY', name='date' required)
                button(type='submit', class='btn btn-success rounded-pill') Submit