extends layout

block content
    title='SCA - Rate your driver'
    div(class='text-center center-div' id='Rate us')
        div(class='container w-25 border py-3')
            img(src='/images/' + url class='w-25 h-25')
            form(action='/pickup/pickupRatingg' method='POST' )
                div(class = 'form-group')
                    label 1
                    input(type='radio' name='rating' value=1)
                    label 2
                    input(type='radio' name='rating' value=2)
                    label 3
                    input(type='radio' name='rating' value=3)
                    label 4
                    input(type='radio' name='rating' value=4)
                    label 5
                    input(type='radio' name='rating' value=5)
                    input(type='string' class='form-control' placeholder='Input your comment' name='comment')
                button(type='submit', class='btn btn-success rounded-pill', value = pickups.driver, name = 'driver') Submit rating