extends layout

block content
    div(class='text-center center-div')
        div(class='container border  py-4')
            if pickups != null
                h2 Pickups
            else
                h2 No Pickups
            table(style='width:100%')
                th Date
                th Address
                th Region
                th Picture
                for pickup in pickups
                    tr
                        td= pickup.date
                        td= pickup.address
                        td= pickup.region
                        td
                            img(src='/images/1650447174096.png')
            input(type='button' onclick='window.print()' value='Print')