extends layout

block content
    title='SCA - Update information about you'
    div(class = 'text-center center-div')
        div(class = 'container w-25 border py-3' id='update')
            h2='Update user'
            form(method='POST' action='/update')
                div.form-group
                    label Email:
                    input(class='form-control' type='email' placeholder='place@holder.com' name='username' required='false' value=(undefined===user ? '' : user.username) )
                    label Password:
                    input(class= 'form-control' type='password' placeholder='Password' name='password' required='false')
                    label Address:
                    input(class='form-control' type='text' placeholder='Placeholder' name='address' required='false' value=(undefined === user ? '' : user.address))
                    label Region:
                    select(class='form-control' name='region' required='true')
                        option(value='') Choose one
                        option(value='Águas Claras') Águas Claras
                        option(value='Arniqueira') Arniqueira
                        option(value='Brazlândia') Brazlândia
                        option(value='Candangolândia') Candangolândia
                        option(value='Ceilândia') Ceilândia
                        option(value='Cruzeiro') Cruzeiro
                        option(value='Fercal') Fercal
                        option(value='Gama') Gama
                        option(value='Guará') Guará
                        option(value='Itapoã') Itapoã
                        option(value='Jardim Botânico') Jardim Botânico
                        option(value='Lago Norte') Lago Norte
                        option(value='Lago Sul') Lago Sul
                        option(value='Núcleo Bandeirante') Núcleo Bandeirante
                        option(value='Paranoá') Paranoá
                        option(value='Park Way') Park Way
                        option(value='Planaltina') Planaltina
                        option(value='Plano Piloto') Plano Piloto
                        option(value='Recanto das Emas') Recanto das Emas
                        option(value='Riacho Fundo') Riacho Fundo
                        option(value='Riacho Fundo II') Riacho Fundo II
                        option(value='SCIA') SCIA
                        option(value='SIA') SIA
                        option(value='Samambaia') Samambaia
                        option(value='Santa Maria') Santa Maria
                        option(value='Sobradinho') Sobradinho
                        option(value='Sobradinho II') Sobradinho II
                        option(value='Sol Nascente/Pôr do Sol') Sol Nascente/Pôr do Sol
                        option(value='Sudoeste/Octogonal') Sudoeste/Octogonal
                        option(value='São Sebastião') São Sebastião
                        option(value='Taguatinga') Taguatinga
                        option(value='Varjão') Varjão
                        option(value='Vicente Pires') Vicente Pires
                    //input(class='form-control-input' type='radio' name='driver' checked='true' required='false' value=(undefined === user ? 'false' : user.driver))
                    //label Consumer
                    //input(class='form-control-input' type='radio' name='driver' value=(undefined === user ? 'true' : user.driver))
                    //label Driver
                button.btn.btn-primary(type='submit') Submit
            a(href='/delete') Delete account