extends layout

block content

    div(class='text-center center-div' id='pickup')
        div(class='container w-25 border py-4')
            form(action='/upload' method='POST' enctype='multipart/form-data')
                div(class = 'form-group')
                    input(type='file', name='uploadImage')
                button(type='submit', class='btn btn-success rounded-pill') Submit image
            a(href='/dashboard') Reuturn to dashboard