@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.center-div{
  padding-top: 10%;
}

.btn.btn-success{
  padding: .4em 2em;
  background-color: red;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e831d;
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  padding: 0 3em;
}

#login .title>h3{
  font-size: .8em;
}

a {
  color: #00B7FF;
}
