@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.center-div{
  padding-top: 10%;
}

.btn.btn-success{
  padding: .4em 2em;
  background-color: pink;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #68c97f;
  background-image: url("https://images6.alphacoders.com/568/thumb-1920-568500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  padding: 0 3em;
}

#login .title>h3{
  font-size: .8em;
}

.container{
  border-radius: 25px;
  background-color: rgba(220, 220, 220, 0.8);
}

a {
  color: black;
  font-weight: bold;
  text-indent: 50px;
  line-height: 1.8;
}

a:link, a:visited {
  /*background-color: white;*/
  background-color: rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  color: black;
  margin-top: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
}
a:hover, a:active {
  background-color: pink;
}
table, th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
tr:hover {background-color: coral;}

